* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    padding: 16px max(120px, (50% - 720px));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 102px;

    background-color: rgba(78, 164, 135, 1);

    img {
        height: 72px;
        width: 72px;

    }

    nav {
        display: flex;
        gap: 72px;

        a {
            text-decoration: none;
            color: rgba(248, 245, 235, 1);
            font-size: 1.5rem;
            font-family: 'Arima';
            font-size: 700;
        }

        a:hover {
            color: rgba(241, 201, 83, 1);
            ;
        }

    }
}

.faq {
    padding: 40px 20px 80px;
}

.faq h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: rgba(78, 164, 135, 1);
    font-size: 32px;

    margin-bottom: 30px;
}

.faq h2 img {
    width: 32px;
    height: 32px;
}

.faq-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.faq-item {
    width: 100%;
    background-color: #F1C953;
    border-radius: 8px;
    margin-bottom: 18px;
}

.faq-item summary {
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
}

.faq-item p {
    padding: 0px 12px 15px 12px;
    margin: 0;
}

.contact {
    max-width: 980px;
    margin: 0 auto;
    padding: 40px 20px 80px;
}

.contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin: 0 0 10px;

    color: rgb(78, 164, 135);
    font-size: 32px;
}

.contact h2 img {
    width: 32px;
    height: 32px;
}

.contact-text {
    text-align: center;
    margin: 0 0 30px;
}

.contact-form {
    width: 100%;
}

.contact-row {
    display: flex;
    gap: 28px;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-box label {
    margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
    width: 100%;

    border: none;
    border-bottom: 1px solid #7c6245;
    outline: none;

    background: transparent;
}

.input-box input {
    height: 25px;
}

.message-box {
    margin-top: 35px;
}

.input-box textarea {
    height: 40px;
    resize: none;
}

.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    margin-top: 15px;

    font-size: 10px;
}

.privacy span {
    color: #4caf8a;
}

.send-button {
    display: block;

    margin: 35px auto 0;
    padding: 5px 25px;

    background: white;
    border: 1px solid #aaa;
    border-radius: 20px;

    font-size: 16px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(78, 164, 135, 1);
    padding: 16px max(120px, (50% - 720px));
    height: 152px;

    .right-side {
        display: flex;
        gap: 72px;
        font-family: 'Palanquin';
        font-size: 1rem;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: rgba(241, 201, 83, 1);
        }
    }

    .copyright {
        gap: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-media {
        display: flex;
        gap: 16px;
    }


}